<div class="body">
  <div class="login-page">
    <div class="form">
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <form class="login-form" #f="ngForm" (ngSubmit)="login(f.value)">
        <input ngModel type="text" placeholder="email" name="email"/>
        <input ngModel type="password" placeholder="password" name="password"/>
        <button>Login</button>
        <p class="message">Not registered? <a routerLink="/signup">Create an account</a></p>
      </form>
    </div>
  </div>
</div>