<div class="body">
  <div class="login-page">
    <div class="form">
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <form class="login-form" #f="ngForm" (ngSubmit)="signup(f.value)">
        <input  ngModel type="text" placeholder="email" name="email"/>
        <input ngModel type="password" placeholder="password" name="password"/> 
        <input ngModel type="password" placeholder="confirm password" name="cpassword"/> 
        <button>Signup</button>
        <p class="message">Already registered? <a routerLink="/login">Login</a></p>
      </form>
    </div>
  </div>
</div>